<h1 class="page-title">Liste des contacts</h1>
<div class="main-container">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th class="col">Date</th>
        <th class="col">Prénom</th>
        <th class="col">Nom</th>
        <th class="col">Email</th>
        <th class="text-end"></th>
      </tr>
    </thead> 
    <tbody>
      {{#each contacts}}
      <tr>
        <td>{{{this.date}}}</td>
        <td>{{{this.prenom}}}</td>
        <td>{{{this.nom}}}</td>
        <td>{{{this.email}}}</td>
        <td class="text-end"><a href="/admin/contact/{{{this.id}}}" class="actions-icons"><i class="bi bi-eye"></i></a> {{!-- <a href="#" class="actions-icons"><i class="bi bi-trash3"></i></a> --}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
