<div class="heading-container">
<h1 class="page-title">Demande de contact</h1>
<a href="/admin/contacts" class="small-btn-text">Retour à la liste</a>
</div>
<div class="main-container">
  <table class="table table-striped"> 
    <tbody>
        <tr><td class="first-column-style">Date de la demande : </td><td>{{{contact.date}}}</td></tr>
        <tr><td class="first-column-style">Prénom : </td><td>{{{contact.prenom}}}</td></tr>
        <tr><td class="first-column-style">Nom : </td><td>{{{contact.nom}}}</td></tr>
        <tr><td class="first-column-style">Email : </td><td>{{{contact.email}}}</td></tr>
        <tr><td class="first-column-style">Téléphone : </td><td>{{{contact.telephone}}}</td></tr>
        <tr><td class="first-column-style">Message : </td><td>{{{contact.message}}}</td></tr>
    </tbody>
  </table>
</div>
