<section class="main_internal_page_bandeau">
  <img src="/img/{{ icon_file_name }}" alt="{{ page_title }}" class="main_internal_page_bandeau_icon">  
  <h1 class="main_internal_page_bandeau_title">{{{ page_title }}}</h1>
  <p class="main_internal_page_bandeau_intro">
    <div class="contact_intro">
      <div class="address">
        <div class="colored-letter">Adresse.</div> <div class="contact-info-container">2 bis rue des Deux Communes<br>94300 Vincennes</div>
      </div>
      <div class="mobile">
        <span class="colored-letter">Mobile.</span> <a href="tel:+33624132157" class="footer-text-link contact-info-container">06 24 13 21 57</a>
      </div>
      <div class="phone">
        <span class="colored-letter">Fax.</span> <a href="tel:+33184105340" class="footer-text-link contact-info-container">01 84 10 53 40</a>
      </div>
      <div class="email">
        <span class="colored-letter">Email.</span> <a href="mailto:contact@bonetavocat.com" class="footer-text-link contact-info-container" target="_blank">contact@bonetavocat.com</a>
      </div>
    </div>
  </p>
</section>
<section class="contact-form-container">
<div id="app"></div>
<span style="color:white;">{{ test_email_host }} | {{ test_email_username }} | {{ test_email_port }}</span>
</section>
{{> sectionUrgencePenale }}
{{> sectionConfiance }} 