<section class="bandeau">
    <h1 class="bandeau_title">{{{ page_title }}}</h1>
    <svg class="bandeau_arrow" width="12" height="37" viewBox="0 0 12 37" fill="none" xmlns="http://www.w3.org/2000/svg" role="img">
        <title>Scroller pour accéder à la suite</title>
        <line x1="6" y1="1" x2="6" y2="36" stroke="#FFDC22" stroke-width="2" stroke-linecap="round"/>
        <path d="M11 31L6 36L1 31" stroke="#FFDC22" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
</section>
<section class="parcours_presentation">
  <div class="parcours_presentation_title"><h2>Maître Yvan BONET</h2></div>
  <div class="parcours_presentation_content">
    <div class="parcours_presentation_content_left">
      <img srcset="img/photo_yvan_bonet@1x.webp 300w, img/photo_yvan_bonet@2x.webp 1000w" sizes="(max-width: 900px) 20vw, (max-width:600px) 30vw, 300px" alt="Logo Yvan BONET" class="" src="img/photo_yvan_bonet@2x.webp">
    </div>
    <div class="parcours_presentation_content_right">
      <div class="parcours_presentation_text">
        {{{ text_cabinet }}}
      </div>
    </div>
  </div>
</section>
<section class="domaines">
  <h2>Domaines d'<span class="cta-gras">intervention</span></h2>
  <div class="domains_cards_container">
      <a href="/domaines-interventions/garde-a-vue" class="domain_card">
        <div class="domain_card_icon_container"><img src="img/garde_a_vue.svg" width="60" height="672"  alt="Garde à vue" class="domain_card_icon"></div>
        <span class="domain_card_text">Garde à vue</span>
      </a>
      <a href="/domaines-interventions/comparution-immediate" class="domain_card">
        <div class="domain_card_icon_container"><img src="img/comparution_immediate.svg" width="60" height="672"  alt="Comparution immédiate" class="domain_card_icon"></div>
        <span class="domain_card_text">Comparution immédiate</span>
      </a>
      <a href="/domaines-interventions/comparution-sur-reconnaissance-prealable-de-culpabilite" class="domain_card">
        <div class="domain_card_icon_container"><img src="img/crpc.svg" width="60" height="672"  alt="Comparution sur reconnaissance préalable de culpabilité" class="domain_card_icon"></div>
        <span class="domain_card_text">Comparution sur reconnaissance préalable de culpabilité</span>
      </a>
      <a href="/domaines-interventions/tribunal-correctionel" class="domain_card">
        <div class="domain_card_icon_container"><img src="img/tribunal_correctionel.svg" width="60" height="672"  alt="Tribunal correctionnel" class="domain_card_icon"></div>
        <span class="domain_card_text">Tribunal correctionnel</span>
      </a>
      <a href="/domaines-interventions/contentieux-disciplinaire-adminitratif" class="domain_card">
        <div class="domain_card_icon_container"><img src="img/contentieux.svg" width="60" height="672"  alt="Contentieux disciplinaire et adminitratif" class="domain_card_icon"></div>
        <span class="domain_card_text">Contentieux disciplinaire et adminitratif</span>
      </a>
      <a href="/domaines-interventions/mise-en-examen" class="domain_card">
        <div class="domain_card_icon_container"><img src="img/mise_en_examen.svg" width="60" height="672"  alt="Mise en examen" class="domain_card_icon"></div>
        <span class="domain_card_text">Mise en examen</span>
      </a>
      <a href="/domaines-interventions/detention-provisoire" class="domain_card">
        <div class="domain_card_icon_container"><img src="img/detention_provisoire.svg" width="60" height="672"  alt="Détention provisoire" class="domain_card_icon"></div>
        <span class="domain_card_text">Détention provisoire</span>
      </a>
      <a href="/domaines-interventions/amenagement-de-peine" class="domain_card">
        <div class="domain_card_icon_container"><img src="img/amenagement_peine.svg" width="60" height="672"  alt="Aménagement de peine" class="domain_card_icon"></div>
        <span class="domain_card_text">Aménagement de peine</span>
      </a>
      <a href="/domaines-interventions/cour-d-assises" class="domain_card">
        <div class="domain_card_icon_container"><img src="img/cour_assises.svg" width="60" height="672"  alt="Cour d'assises" class="domain_card_icon"></div>
        <span class="domain_card_text">Cour d'assises</span>
      </a>
      <a href="/domaines-interventions/droit-penitentiaire" class="domain_card">
        <div class="domain_card_icon_container"><img src="img/droit_penitentiaire.svg" width="60" height="672"  alt="Droit pénitentiaire" class="domain_card_icon"></div>
        <span class="domain_card_text">Droit pénitentiaire</span>
      </a>
  </div>
</section>
<h2 class="main_internal_page_title">{{{ page_subtitle }}}</h2>
<section class="main_internal_page_text">
  <p>{{{ page_text }}} </p>
</section>
{{> sectionUrgencePenale }}
<section class="domaines">
  <h2>Ce que nos clients disent de nous</h2>
<script nonce="{{CSPnonce}}" src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-60010a3c-6606-41d2-bb5d-639019a4363d" data-elfsight-app-lazy></div>
</section>
<section class="main_internal_page_bandeau">
  <img src="/img/{{ contact_icon_file_name }}" alt="{{ contact_page_title }}" class="main_internal_page_bandeau_icon">  
  <h1 class="main_internal_page_bandeau_title">{{{ contact_page_title }}}</h1>
  <h3>Faîtes nous part de votre problématique et demandez à être rappelé</h3>
  <p class="main_internal_page_bandeau_intro">
    <div class="contact_intro">
      <div class="address">
        <div class="colored-letter">Adresse.</div> <div class="contact-info-container">2 bis rue des Deux Communes<br>94300 Vincennes</div>
      </div>
      <div class="mobile">
        <span class="colored-letter">Mobile.</span> <a href="tel:+33624132157" class="footer-text-link contact-info-container">06 24 13 21 57</a>
      </div>
      <div class="phone">
        <span class="colored-letter">Fax.</span> <a href="tel:+33184105340" class="footer-text-link contact-info-container">01 84 10 53 40</a>
      </div>
      <div class="email">
        <span class="colored-letter">Email.</span> <a href="mailto:contact@bonetavocat.com" class="footer-text-link contact-info-container" target="_blank">contact@bonetavocat.com</a>
      </div>
    </div>
  </p>
</section>
<section class="contact-form-container">
<div id="app"></div>
</section>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2628.4838085229185!2d2.458387912461135!3d48.791744205274036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e60d63075cfc21%3A0xf507f2d05d0125e6!2sYvan%20Bonet%20-%20Avocat%20en%20Droit%20P%C3%A9nal%20%C3%A0%20Vincennes%20(94)%20-%20Cr%C3%A9teil%20(94)!5e0!3m2!1sfr!2sfr!4v1717485890839!5m2!1sfr!2sfr" style="border:0; width: 100%; height: 80vh; margin: 0; padding: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{{> sectionConfiance }}
