<section class="main_internal_page_bandeau">
  {{!-- <img src="/img/{{ icon_file_name }}" alt="{{ page_title }}" class="main_internal_page_bandeau_icon"> --}}  
  <h1 class="main_internal_page_bandeau_title">{{{ page_title }}}</h1>
  <p class="main_internal_page_bandeau_intro">
    {{{ page_intro }}}
  </p>
</section>
<div class="main_internal_page_text">
  {{{ page_text }}}
</div>
{{> sectionUrgencePenale }}
{{> sectionConfiance }}